F_recordatorio_de_cobranza_conIA.json
{
  "name": "F_recordatorio_de_cobranza_conIA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        -16
      ],
      "id": "14f85deb-9577-4e9e-a7ed-33867e91ff14",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        -16
      ],
      "id": "f35291c3-4e8f-4150-b3fc-6670bb961447",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "Vencido",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d3d5e105-3d4f-4aae-b6cf-dc16c82a589c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vencido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1abfcbcf-76d8-456f-9ad8-ec95f164ce5f",
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "Próximo a vencer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Próximo a vencer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8a952b3b-d09d-46d1-a201-ddd62b03707e",
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "Vence hoy",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vence hoy"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ad0571c-1986-4fb7-ab29-390d0800d811",
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "A tiempo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "A tiempo"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        848,
        -480
      ],
      "id": "3ba37d4a-0797-483d-a5a8-a887fecd7ba5",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres una asistente virtual cordial y profesional. Tu tarea es redactar un mensaje de cobranza recordatorio, únicamente siguiendo el siguiente esquema con los datos proporcionados.\n\nNo debes agregar comentarios adicionales ni texto fuera del mensaje. Redacta directamente el texto para enviar al cliente con un tono respetuoso y claro.\n\nMensaje:\n\nHola {{ $json.Nombre }},<br>le recordamos que su factura por S/ {{ $json['Monto Factura'] }} presenta un saldo pendiente de <strong>S/ {{ $json['Saldo Pendiente'] }}</strong>, con fecha de vencimiento el {{ $json['Fecha Vencimiento'] }}.<br>A la fecha, el documento tiene <strong>{{ $json['Días Vencidos'] }} días</strong> de vencido.<br><br>Le solicitamos realizar el pago correspondiente lo antes posible a través del siguiente enlace:<br>www.linkdepagoejemplo.com<br>Utilizando su código de cliente: {{ $json['ID Cliente'] }}<br><br>Para evitar inconvenientes con su servicio, agradecemos realizar el pago a la brevedad y enviar la constancia del mismo. Si tiene alguna consulta, no dude en comunicarse con nosotros.<br><br>Saludos cordiales."
            }
          ]
        },
        "options": {
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1120,
        -640
      ],
      "id": "00fd4fc2-4372-48c7-9989-749dcbf86cc1",
      "name": "Vencido",
      "credentials": {
        "openAiApi": {
          "id": "bWIXdkYAI1mez6zQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres una asistente virtual cordial y profesional. Tu tarea es redactar un mensaje de cobranza recordatorio, únicamente siguiendo el siguiente esquema con los datos proporcionados.\n\nNo debes agregar comentarios adicionales ni texto fuera del mensaje. Redacta directamente el texto para enviar al cliente con un tono respetuoso y claro.\n\nMensaje:\n\nHola {{ $json.Nombre }},<br>le recordamos que su factura por S/ {{ $json['Monto Factura'] }} presenta un saldo pendiente de <strong>S/ {{ $json['Saldo Pendiente'] }}</strong> y tiene como fecha de vencimiento el {{ $json['Fecha Vencimiento'] }}.<br>La factura vence en <strong>{{ Math.abs($json['Días Vencidos']) }} días.</strong><br><br>Le recomendamos realizar el pago con anticipación para evitar cualquier inconveniente. Puede hacerlo en el siguiente enlace:<br>www.linkdepagoejemplo.com<br>Utilizando su código de cliente: {{ $json['ID Cliente'] }}<br><br>Si tiene alguna consulta o requiere asistencia, no dude en comunicarse con nosotros.<br><br>Saludos cordiales.\n"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1120,
        -512
      ],
      "id": "e95acea5-1126-49e8-bfe3-79996679dbdd",
      "name": "Por vencer (<3 días)",
      "credentials": {
        "openAiApi": {
          "id": "bWIXdkYAI1mez6zQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres una asistente virtual cordial y profesional. Tu tarea es redactar un mensaje de cobranza recordatorio, únicamente siguiendo el siguiente esquema con los datos proporcionados.\n\nNo debes agregar comentarios adicionales ni texto fuera del mensaje. Redacta directamente el texto para enviar al cliente con un tono respetuoso y claro.\n\nMensaje:\n\nHola {{ $json.Nombre }},<br>le recordamos que su factura por S/ {{ $json['Monto Factura'] }} presenta un saldo pendiente de <strong>S/ {{ $json['Saldo Pendiente'] }}</strong> y vence <strong>hoy</strong>, {{ $json['Fecha Vencimiento'] }}.<br><br>Le sugerimos realizar el pago el día de hoy para evitar contratiempos. Puede hacerlo en el siguiente enlace:<br>www.linkdepagoejemplo.com<br>Utilizando su código de cliente: {{ $json['ID Cliente'] }}<br><br>Si tiene alguna consulta o necesita asistencia, no dude en comunicarse con nosotros.<br><br>Saludos cordiales."
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1120,
        -400
      ],
      "id": "ce704cb9-b707-4b06-8588-ed9ba434894d",
      "name": "Vence hoy",
      "credentials": {
        "openAiApi": {
          "id": "bWIXdkYAI1mez6zQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres una asistente virtual cordial y profesional. Tu tarea es redactar un mensaje de recordatorio de cobranza, siguiendo únicamente el siguiente esquema con los datos proporcionados.\n\nNo debes agregar comentarios adicionales ni texto fuera del mensaje. Redacta directamente el texto para enviar al cliente con un tono respetuoso y claro.\n\nMensaje:\n\nHola {{ $json.Nombre }},<br>le recordamos amablemente que su factura por S/ {{ $json['Monto Factura'] }} presenta un saldo pendiente de <strong>S/ {{ $json['Saldo Pendiente'] }}</strong> y tiene como fecha de vencimiento el {{ $json['Fecha Vencimiento'] }} <strong>(faltan {{ Math.abs($json['Días Vencidos']) }} días)</strong>.<br><br>Le sugerimos programar su pago con anticipación para evitar contratiempos. Puede realizarlo en el siguiente enlace:<br>www.linkdepagoejemplo.com<br>Usando su código de cliente: {{ $json['ID Cliente'] }}<br><br>Si tiene alguna duda o consulta, estamos a su disposición para ayudarle.<br>Saludos cordiales.\n"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1120,
        -272
      ],
      "id": "ef89f1dd-d9d7-4ce3-a2ad-e22abcb5e8fa",
      "name": "A tiempo",
      "credentials": {
        "openAiApi": {
          "id": "bWIXdkYAI1mez6zQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $json.delay_sec }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3856,
        -240
      ],
      "id": "70f887e0-3a70-4aed-a0d7-06fcff2b519d",
      "name": "Wait",
      "webhookId": "229a224a-b106-48a8-8ce4-b9586171808d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0",
          "mode": "list",
          "cachedResultName": "Cobranza",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1467248904,
          "mode": "list",
          "cachedResultName": "Datos_clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit#gid=1467248904"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        288,
        -16
      ],
      "id": "24e4017c-5760-4171-bb7f-e6e0f658e09b",
      "name": "Obtener datos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOWPZoYPApny206m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a966323c-09f9-42c0-833d-a6cbee06c677",
              "name": "ultimo_mensaje",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "eb906a4a-003f-4440-a0f9-e41887624fa4",
              "name": "celular",
              "value": "=51{{ $('Switch').item.json['Teléfono'] }}@s.whatsapp.net",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -464
      ],
      "id": "c3a4e690-19e9-4fc5-987d-ab55e3d13d2b",
      "name": "Definir variables"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolutionapo-evolution-api.vhphhd.easypanel.host/message/sendText/Chatbot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "C8A8DFDD1BF2-4AA8-B721-24600106A900"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Definir variables').item.json.celular }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje_whatsapp }}"
            },
            {
              "name": "delay",
              "value": "={{2000}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2784,
        -464
      ],
      "id": "a80bf1f2-80ae-4f0e-8e23-54c32d9c0da4",
      "name": "Mensaje Whatsapp",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolutionapo-evolution-api.vhphhd.easypanel.host/message/sendText/Chatbot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "C8A8DFDD1BF2-4AA8-B721-24600106A900"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "51928905935@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "=Hola, hubo un error al enviar el recordatorio al cliente {{ $('Obtener datos').item.json.Nombre }} al número {{ $('Obtener datos').item.json['Teléfono'] }}.\n\nInfo del error: {{ $json.error.message }}"
            },
            {
              "name": "delay",
              "value": "={{2000}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        -272
      ],
      "id": "241c648c-1032-4531-a140-e4ddba33e0cc",
      "name": "Mensaje Whatsapp1"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el mensaje original en HTML\nlet mensajeHTML =$('Definir variables').first().json.ultimo_mensaje ;\n\n// Reemplazar etiquetas <strong> y </strong> por asteriscos\nmensajeHTML = mensajeHTML.replace(/<strong>/gi, '*');\nmensajeHTML = mensajeHTML.replace(/<\\/strong>/gi, '*');\n\n// Eliminar etiquetas <br>, <br/> y <br /> (cualquier variante)\nmensajeHTML = mensajeHTML.replace(/<br\\s*\\/?>/gi, '\\n'); // O usa '' si no quieres saltos de línea\n\n// Devolver el mensaje limpio para WhatsApp\nreturn [\n  {\n    json: {\n      mensaje_whatsapp: mensajeHTML\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        -464
      ],
      "id": "b07082cb-4bde-4d32-9aac-9614a313ef0c",
      "name": "Formatear mensaje Whatsapp"
    },
    {
      "parameters": {
        "jsCode": "const ahora = new Date();\n\n// Convertir a hora Perú (UTC-5)\nconst horaPeru = new Date(ahora.getTime() - 5 * 60 * 60 * 1000);\n\n// Formato: DD/MM/YYYY HH:mm:ss\nconst dia = String(horaPeru.getDate()).padStart(2, '0');\nconst mes = String(horaPeru.getMonth() + 1).padStart(2, '0');\nconst anio = horaPeru.getFullYear();\nconst horas = String(horaPeru.getHours()).padStart(2, '0');\nconst minutos = String(horaPeru.getMinutes()).padStart(2, '0');\nconst segundos = String(horaPeru.getSeconds()).padStart(2, '0');\n\nconst fechaHoraPeru = `${dia}/${mes}/${anio} ${horas}:${minutos}:${segundos}`;\n\nreturn [\n  {\n    json: {\n      fecha_hora_peru: fechaHoraPeru\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        -464
      ],
      "id": "b4391ce3-7e3d-4e9e-bbd7-d4d3e271d5ce",
      "name": "Fecha y hora actual (Perú)"
    },
    {
      "parameters": {
        "jsCode": "// Rango de espera en segundos\nconst min = 4.0;\nconst max = 8.0;\n\n// Genera un número aleatorio entre min y max, con 2 decimales\nconst delay = (Math.random() * (max - min) + min).toFixed(2);\n\n// Retorna el valor como número decimal en la propiedad 'delay_sec'\nreturn [{\n  json: {\n    delay_sec: parseFloat(delay)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        -528
      ],
      "id": "bc102a7f-e4d5-4c9c-9c45-08cd8b89a47c",
      "name": "Tiempo de espera variable"
    },
    {
      "parameters": {
        "content": "Se implementa un tiempo de espera aleatorio para reducir el riesgo de bloqueo por parte de WhatsApp, evitando que el flujo sea detectado como automatizado o masivo, lo cual infringe sus políticas de uso.",
        "height": 144,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3856,
        -544
      ],
      "typeVersion": 1,
      "id": "13a80446-af2a-4a7c-a91a-8470109d74f2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Este bloque de código elimina etiquetas HTML para adaptar el mensaje a un formato plano, asegurando su correcta visualización en WhatsApp.",
        "height": 128,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        -608
      ],
      "typeVersion": 1,
      "id": "bb79f0fc-80e7-4c8a-b82a-6129dec4d754",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Se aplica una corrección horaria de -5 horas para ajustar la fecha y hora del servidor (ubicado en Brasil) a la zona horaria de Perú (UTC-5). Esto asegura que los registros y mensajes se generen con la hora local correcta.",
        "height": 192,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        -672
      ],
      "typeVersion": 1,
      "id": "2249bdd0-41fe-465f-871a-f976f5efc9a3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Actualiza el estado del recordatorio en la BD.",
        "height": 80,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        -928
      ],
      "typeVersion": 1,
      "id": "3c3d4244-5ed9-439d-8240-bf451cd3d2ad",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Switch').item.json.Email }}",
        "subject": "Recordatorio pago",
        "message": "={{ $json.ultimo_mensaje }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1808,
        -464
      ],
      "id": "e4e4ecb6-8d29-422d-84ba-671e5d5c3229",
      "name": "Envío de correo",
      "webhookId": "c8bb09e1-edfb-4534-931d-cc6ad1c89f09",
      "credentials": {
        "gmailOAuth2": {
          "id": "yXzFtc9O3IlGA9c5",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e222cf9-aa2e-4897-9aea-dc3475db8261",
              "leftValue": "={{ $json['Teléfono'].toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "803dbfa9-2064-4101-a172-1c8fee364247",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -448
      ],
      "id": "c3a09d3f-baf3-4c32-b0d8-09ae67678cec",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolutionapo-evolution-api.vhphhd.easypanel.host/message/sendText/Chatbot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "C8A8DFDD1BF2-4AA8-B721-24600106A900"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "51928905935@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "=No se pudo enviar el recordatorio al cliente {{ $('Switch').item.json.Nombre }} debido a que no existe una dirección de correo registrada o el correo es incorrecto.\n\nInfo de error:  {{ $json.error }}"
            },
            {
              "name": "delay",
              "value": "={{2000}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        -272
      ],
      "id": "bb704a04-de4f-43b0-ab52-04b080fe8147",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "Convertir el numero a string.",
        "height": 80,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -544
      ],
      "typeVersion": 1,
      "id": "531876f3-5555-4795-97f3-4cfa64838341",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "const ahora = new Date();\n\n// Convertir a hora Perú (UTC-5)\nconst horaPeru = new Date(ahora.getTime() - 5 * 60 * 60 * 1000);\n\n// Formato: DD/MM/YYYY HH:mm:ss\nconst dia = String(horaPeru.getDate()).padStart(2, '0');\nconst mes = String(horaPeru.getMonth() + 1).padStart(2, '0');\nconst anio = horaPeru.getFullYear();\nconst horas = String(horaPeru.getHours()).padStart(2, '0');\nconst minutos = String(horaPeru.getMinutes()).padStart(2, '0');\nconst segundos = String(horaPeru.getSeconds()).padStart(2, '0');\n\nconst fechaHoraPeru = `${dia}/${mes}/${anio} ${horas}:${minutos}:${segundos}`;\n\nreturn [\n  {\n    json: {\n      fecha_hora_peru: fechaHoraPeru\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        -448
      ],
      "id": "29643e20-e82d-41f5-9632-7c177297278e",
      "name": "Fecha y hora actual (Perú)1"
    },
    {
      "parameters": {
        "content": "Se aplica una corrección horaria de -5 horas para ajustar la fecha y hora del servidor (ubicado en Brasil) a la zona horaria de Perú (UTC-5). Esto asegura que los registros y mensajes se generen con la hora local correcta.",
        "height": 192,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2992,
        -656
      ],
      "typeVersion": 1,
      "id": "c2d744d4-796c-48d8-948e-0db94d11c3f1",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Actualiza el estado del recordatorio en la BD.",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        -560
      ],
      "typeVersion": 1,
      "id": "49c1f588-dfdf-4618-9058-446b97468ea1",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Actualiza el estado del recordatorio en la BD.",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        -112
      ],
      "typeVersion": 1,
      "id": "c343786b-34f5-446e-954b-b92151d2b9db",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Actualiza el estado del recordatorio en la BD.",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3504,
        -96
      ],
      "typeVersion": 1,
      "id": "11701953-bef3-4fa3-b954-471d46ca3508",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "Actualiza el estado del recordatorio en la BD.",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3328,
        -528
      ],
      "typeVersion": 1,
      "id": "41537fd3-b6b9-461c-9661-d40b271e5808",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0",
          "mode": "list",
          "cachedResultName": "Cobranza",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1467248904,
          "mode": "list",
          "cachedResultName": "Datos_clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit#gid=1467248904"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Cliente": "={{ $('Switch').item.json['ID Cliente'] }}",
            "Estado Recordatorio Whatsapp": "=Enviado el {{ $json.fecha_hora_peru }}"
          },
          "matchingColumns": [
            "ID Cliente"
          ],
          "schema": [
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto Factura",
              "displayName": "Monto Factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto Pagado",
              "displayName": "Monto Pagado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Saldo Pendiente",
              "displayName": "Saldo Pendiente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Días Vencidos",
              "displayName": "Días Vencidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado Recordatorio Gmail",
              "displayName": "Estado Recordatorio Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado Recordatorio Whatsapp",
              "displayName": "Estado Recordatorio Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3360,
        -432
      ],
      "id": "0254b3f6-31ce-4a8d-99a5-5fb07769d246",
      "name": "Actualizar BD4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOWPZoYPApny206m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0",
          "mode": "list",
          "cachedResultName": "Cobranza",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1467248904,
          "mode": "list",
          "cachedResultName": "Datos_clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit#gid=1467248904"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Cliente": "={{ $('Switch').item.json['ID Cliente'] }}",
            "Estado Recordatorio Whatsapp": "Error"
          },
          "matchingColumns": [
            "ID Cliente"
          ],
          "schema": [
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto Factura",
              "displayName": "Monto Factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto Pagado",
              "displayName": "Monto Pagado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Saldo Pendiente",
              "displayName": "Saldo Pendiente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Días Vencidos",
              "displayName": "Días Vencidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado Recordatorio Gmail",
              "displayName": "Estado Recordatorio Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado Recordatorio Whatsapp",
              "displayName": "Estado Recordatorio Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3360,
        -256
      ],
      "id": "531d1306-daab-4f00-8384-d784f937d63c",
      "name": "Actualizar BD5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOWPZoYPApny206m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0",
          "mode": "list",
          "cachedResultName": "Cobranza",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1467248904,
          "mode": "list",
          "cachedResultName": "Datos_clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit#gid=1467248904"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Cliente": "={{ $json['ID Cliente'] }}",
            "Estado Recordatorio Gmail": "Error",
            "Estado Recordatorio Whatsapp": "Error"
          },
          "matchingColumns": [
            "ID Cliente"
          ],
          "schema": [
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto Factura",
              "displayName": "Monto Factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto Pagado",
              "displayName": "Monto Pagado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Saldo Pendiente",
              "displayName": "Saldo Pendiente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Días Vencidos",
              "displayName": "Días Vencidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado Recordatorio Gmail",
              "displayName": "Estado Recordatorio Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado Recordatorio Whatsapp",
              "displayName": "Estado Recordatorio Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1152,
        -832
      ],
      "id": "8e7a1b84-3ecf-47fe-8193-d12dca8b30e4",
      "name": "Actualizar BD1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOWPZoYPApny206m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0",
          "mode": "list",
          "cachedResultName": "Cobranza",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1467248904,
          "mode": "list",
          "cachedResultName": "Datos_clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit#gid=1467248904"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Cliente": "={{ $('Switch').item.json['ID Cliente'] }}",
            "Estado Recordatorio Gmail": "=Enviado el {{ $json.fecha_hora_peru }}"
          },
          "matchingColumns": [
            "ID Cliente"
          ],
          "schema": [
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto Factura",
              "displayName": "Monto Factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto Pagado",
              "displayName": "Monto Pagado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Saldo Pendiente",
              "displayName": "Saldo Pendiente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Días Vencidos",
              "displayName": "Días Vencidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado Recordatorio Gmail",
              "displayName": "Estado Recordatorio Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado Recordatorio Whatsapp",
              "displayName": "Estado Recordatorio Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2272,
        -464
      ],
      "id": "c8384fa0-e4cb-4aee-b10b-6da249f07812",
      "name": "Actualizar BD2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOWPZoYPApny206m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0",
          "mode": "list",
          "cachedResultName": "Cobranza",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1467248904,
          "mode": "list",
          "cachedResultName": "Datos_clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L3jp9PuQEaT1FmTvtlMiqEUXCsgEZOr0GvcYdgnZks0/edit#gid=1467248904"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Cliente": "={{ $('Switch').item.json['ID Cliente'] }}",
            "Estado Recordatorio Gmail": "Error"
          },
          "matchingColumns": [
            "ID Cliente"
          ],
          "schema": [
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto Factura",
              "displayName": "Monto Factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto Pagado",
              "displayName": "Monto Pagado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Saldo Pendiente",
              "displayName": "Saldo Pendiente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Días Vencidos",
              "displayName": "Días Vencidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado Recordatorio Gmail",
              "displayName": "Estado Recordatorio Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado Recordatorio Whatsapp",
              "displayName": "Estado Recordatorio Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2240,
        -272
      ],
      "id": "cd88d526-99d1-44eb-9216-817d8f6a3525",
      "name": "Actualizar BD3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UOWPZoYPApny206m",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-07-30T01:05:41.574-05:00",
          "Readable date": "July 30th 2025, 1:05:41 am",
          "Readable time": "1:05:41 am",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "July",
          "Day of month": "30",
          "Hour": "01",
          "Minute": "05",
          "Second": "41",
          "Timezone": "America/Lima (UTC-05:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Obtener datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Vencido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Por vencer (<3 días)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Vence hoy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A tiempo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vencido": {
      "main": [
        [
          {
            "node": "Definir variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Por vencer (<3 días)": {
      "main": [
        [
          {
            "node": "Definir variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vence hoy": {
      "main": [
        [
          {
            "node": "Definir variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A tiempo": {
      "main": [
        [
          {
            "node": "Definir variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener datos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir variables": {
      "main": [
        [
          {
            "node": "Envío de correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Whatsapp": {
      "main": [
        [
          {
            "node": "Fecha y hora actual (Perú)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje Whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Whatsapp1": {
      "main": [
        [
          {
            "node": "Actualizar BD5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear mensaje Whatsapp": {
      "main": [
        [
          {
            "node": "Mensaje Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fecha y hora actual (Perú)": {
      "main": [
        [
          {
            "node": "Actualizar BD2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiempo de espera variable": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envío de correo": {
      "main": [
        [
          {
            "node": "Fecha y hora actual (Perú)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Actualizar BD1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Actualizar BD3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fecha y hora actual (Perú)1": {
      "main": [
        [
          {
            "node": "Actualizar BD4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar BD4": {
      "main": [
        [
          {
            "node": "Tiempo de espera variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar BD5": {
      "main": [
        [
          {
            "node": "Tiempo de espera variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar BD1": {
      "main": [
        [
          {
            "node": "Tiempo de espera variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar BD2": {
      "main": [
        [
          {
            "node": "Formatear mensaje Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar BD3": {
      "main": [
        [
          {
            "node": "Formatear mensaje Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Lima",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e4d8b264-ad2d-4a78-a090-ae4f04c6fa34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0fe3d5bb008e5b96b18c215374c11f23ad8bf5bbd0a5b6ebd2b2dd15ce224b38"
  },
  "id": "KReSyD7VOfWhQos9",
  "tags": []
}